@use "../variables" as *;
@use "../mixins/" as *;
@use "../functions/" as *;

.container {
	margin-inline: auto;
	// padding: 0 rem($container-padding-x);
	padding: 0 fluid(12, 20);
	max-width: rem($container);
}

.title {
	margin: 0;
	font-family: $font-family;
	@include text-fluid(26, 80);
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
}

.section-btn {
	position: relative;
	margin-bottom: rem(9);
	padding-right: rem(38);
	font-size: fluid(14, 20);
	font-weight: 700;
	text-transform: uppercase;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0px;
		height: rem(15);
		width: rem(22);
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@include tablet {
			content: none;
		}
	}

	@include tablet {
		margin-bottom: 0;
		padding-right: 0;
	}
}

.visually-hidden {
	@include visually-hidden;
}

.is-hidden {
	display: none !important;
}

.mobile-hidden {
	@include mobile {
		display: none !important;
	}
}

.desktop-hidden {
	@include desktop {
		display: none !important;
	}
}

.scroll-stop {
	overflow: hidden;
}
