footer.footer 
	.footer__container.container
		.footer__download 
			h2.footer__title Еще больше полезных материалов и видеоуроков в нашем приложении
			.footer__links 
				each link in footerLink 
					a.footer__link(href="#")
						img(src=link.url, height="30", width="132", alt=link.alt, loading="lazy")
			span.footer__signature сделано в xpage
		.footer__code 
			img(src="@images/code.svg", height="401", width="352", alt="qr-code", loading="lazy").footer__code-image
		img(src="@images/footer-bg.png", alt="").footer__decor