include ../variables/header-vars

header.header 
	.header__container.container 
		a.header__logo(href="#") 
			+svg("logo", "header__logo-icon")
		nav.header__nav.nav 
			ul.nav__list.list-reset 
				each item in navItems 
					li.nav__item 
						a(href=item.itemUrl).nav__link #{item.itemText}
		button.header__menu.btn-reset
			+svg("burger-icon", "header__menu-icon")
			| Меню
		a(href="#").header__account.account геннадий П.