@font-face {
	font-family: DrukWideCyr;
	font-display: swap;
	src: url("../fonts/DrukWideCyr-Bold.woff2") format("woff2"),
	url("../fonts/DrukWideCyr-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"),
	url("../fonts/Inter-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}
