$container-padding-x: 20;
$container: 1880;
$minWidth: 320;
$font-family: DrukWideCyr, sans-serif;
$ff-description: Inter, sans-serif;

$desktop: 1920.98;
$laptop: 1023.98;
$tablet: 767.98;
$mobile: 320.98;

$color-black: #000000;
$color-white: #ffffff;

$color-green: #2e8d43;
$color-orange: #f36722;
$color-grey: #c4c4c4;
$color-text: #202020;
// $color-grey_light: #ececec;
$color-bg: #ececec;
$color-grey: #c4c4c4;
$color-grey_dark: #747474;

$DESKTOP_BACKGROUND: #efefef;
$DESKTOP_WHITE_20: #ffffff33;
