$container-offset: 32px;
$minWidth: 320px;
$container: 1880px;
$font-family: Inter, sans-serif;
$font-size: 16px;

$color_black: #000000;
$color_white: #ffffff;
$color_text: #202020;
$color_bg: #ffffff;
