block vars
	- 
		var lang = "ru";
		var siteTitle = "Play It | Home";
		var siteDescription = "XPage - Play It";
		var playList = [
			{
				image: "@images/play-1.png", 
				title: "Найди себе команду", 
				text: "Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.",
				btn: "текст кнопки",
				alt: "image"
			},
			{
				image: "@images/play-2.png", 
				title: "Создавай команды", 
				text: "Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.",
				btn: "текст кнопки",
				alt: "image"
			},
			{
				image: "@images/play-3.png", 
				title: "Участвуй в турнирах", 
				text: "Участвуйте в турнирах вместе с вашей командой. Будьте активными, побеждайте и получайте ачивки и призы от наших спонсоров.",
				btn: "текст кнопки",
				alt: "image"
			},
		];
		var adsItems = [
			{
				title: "мы собрали секции для детей по всему городу",
				tags: [
					{
						title: "12 секций по всему городу",
						favorite: true	
					}
				],
				image: {
					url: "@images/ads-1.png",
					alt: "image"
				}
			},
			{
				title: "Подбери тренера под свой  уровень",
				tags: [
					{
						title: "детская тренировка",
						favorite: false
					},
					{
						title: "для начинающих",
						favorite: false
					},
					{
						title: "стритбол",
						favorite: false
					},
					{
						title: "выезд тренера на дом",
						favorite: false
					},
					{
						title: "12 фильтров",
						favorite: true
					}
				]
			},
		];
		var sections = [
			{
				title: "Видеоуроки",
				link: "#",
				articles: [
					{
						link: "#",
						image: {
							url: "@images/article-1.png",
							alt: "image"
						},
						text: "Евгений Воронов: «Бронзовые медали - оценка труда нашей команды»",
						tags: [
							{
								title: "26 октября",
								favorite: false
							}
						]
					}
				],
			},
			{
				title: "статьи",
				link: "#",
				articles: [
					{
						link: "#",
						text: "Евгений Воронов: «Бронзовые медали - оценка труда нашей команды»",
						tags: [
							{
								title: "26 октября",
								favorite: false
							}
						]
					}
				]
			},
			{
				title: "термины",
				link: "#",
				articles: [
					{
						link: "#",
						tags: [
							{
								title: "треха",
								favorite: false
							},
							{
								title: "трехочковый бросок",
								favorite: false
							},
							{
								title: "36 терминов",
								favorite: true
							},
						]
					}
				]
			},
		];
		var footerLink = [
			{
				url: "@images/apple-full.svg",
				class: "footer__link-icon footer__link-icon--apple",
				alt: "image"
			},
			{
				url: "@images/google-full.svg",
				class: "footer__link-icon footer__link-icon--google",
				alt: "image"
			},
		];