- var text = "this is text";
- 
	var navItems = [
		{ itemUrl: "#", itemText: "играть" },
		{ itemUrl: "#", itemText: "смотреть" },
		{ itemUrl: "#", itemText: "учиться" },
		{ itemUrl: "#", itemText: "мероприятия" },
	]; 