@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.banner {
	margin-bottom: fluid(42, 121);

	&__container {
		position: relative;
		padding: 0;
	}

	&__title {
		position: absolute;
		bottom: calc(rem(20) + rem(64) + rem(47));
		left: fluid(12, 20);
		z-index: 2;
		max-width: 70%;
		color: $color_white;

		@include tablet {
			bottom: calc(rem(12) + 25% + rem(12));
		}
	}

	&__swiper.swiper {
		max-height: rem(830);
		border-radius: fluid(12, 20);

		.swiper {
			&-slide {
				min-height: rem(516);
				height: auto;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: linear-gradient(180deg, transparent 30%, rgba($color-text, 0.3) 100%);
				}

				img {
					height: 100%;
				}
			}

			&-pagination {
				bottom: fluid(12, 20);
				display: flex;
				gap: fluid(4, 8);
				padding: 0 fluid(12, 20);

				&-bullet {
					position: relative;
					flex: 1 1 auto;
					margin: 0;
					height: fluid(40, 64);
					border-radius: fluid(10, 20);
					background-color: $color_white;
					opacity: 1;

					@include tablet {
						width: 100%;
					}

					&::before {
						position: absolute;
						top: 50%;
						left: fluid(14, 25);
						font-size: fluid(14, 16);
						font-weight: 700;
						text-transform: uppercase;
						transform: translateY(-50%);
					}

					&::after {
						content: "";
						position: absolute;
						top: 50%;
						right: fluid(14, 25);
						height: fluid(10, 15);
						width: fluid(15, 22);
						background-image: url("@images/arrow-white.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						transform: translateY(-50%);
					}

					$bulletItems: (
						"1": "играй",
						"2": "учись",
						"3": "смотри",
					);

					@each $key, $value in $bulletItems {
						&--#{$key} {
							&::before {
								content: $value;
							}
						}
					}

					&-active {
						background-color: $color-orange;
						transition: background-color 0.3s ease;

						&::before {
							color: $color_white;
							transition: color 0.3s ease;
						}
					}
				}

				@include tablet {
					height: 25%;
					flex-direction: column;
				}
			}
		}
	}
}
