@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.play {
	margin-bottom: fluid(42, 120);

	/////////////////////////////////////////////////////////////////////////////////////
	// @include tablet {
	// 	margin-bottom: 64px;
	// }

	&__container {
		padding: 0;
	}

	&__header {
		@include flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: fluid(21, 63);

		&-btn {
			margin-right: rem(-7);
			color: $color-orange;

			&::after {
				background-image: url("@images/arrow-orange.svg");
			}

			@include tablet {
				margin-right: 0;
			}
		}
	}

	&__list {
		@include flex;
		gap: rem(8);
	}

	.card {
		flex: 1 1 calc(100% / 3 - rem(8));
		display: flex;
		flex-direction: column;
		padding-bottom: fluid(11, 24);
		min-width: rem(296);
		border-radius: fluid(10, 20);
		color: $color_text;
		background-color: $color_white;
		transition: all 0.2s ease;

		&__image {
			display: flex;
			justify-content: flex-end;
			margin-bottom: fluid(28, 62);
			max-height: fluid(246, 520);
			transition: all 0.2s ease;

			img {
				width: 100%;
				border-radius: rem(40) rem(40) rem(640) rem(640);
			}
		}

		&:nth-child(2) {
			.card__image {
				width: 75%;
				margin-left: auto;

				img {
					border-radius: rem(20);
					object-position: bottom;
				}
			}
		}

		&__content {
			position: relative;
			padding-inline: fluid(12, 25);
			padding-bottom: 0;
			transition: all 0.2s ease;
		}

		&__title {
			margin: 0;
			margin-bottom: fluid(7, 18);
			max-width: rem(320);
			font-size: fluid(20, 32);
			line-height: 130%;
			font-weight: 700;
			text-transform: uppercase;
		}

		&__text {
			margin: 0;
			max-width: rem(440);
			font-family: Inter, sans-serif;
			font-size: fluid(14, 16);
			line-height: 160%;
			font-weight: 500;
			transition: all 0.1s ease;

			@include tablet {
				line-height: 145%;
			}
		}

		&__btn {
			position: absolute;
			bottom: 0;
			left: fluid(12, 20);
			right: fluid(12, 20);
			margin-top: rem(20);
			padding: fluid(10, 20) fluid(12, 24);
			height: fluid(44, 64);
			border-radius: rem(16);
			font-size: fluid(14, 16);
			font-weight: 700;
			text-transform: uppercase;
			color: $color_white;
			background-color: $color-orange;
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease;

			@include tablet {
				text-align: left;
			}

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: fluid(12, 24);
				height: fluid(10, 15);
				width: fluid(15, 22);
				@include bg-cover-center("@images/arrow-white.svg");
				transform: translateY(-50%);
			}
		}

		&:hover {
			background-color: $color-text;
			color: $color_white;

			.card {
				&__image {
					max-height: rem(436);
				}

				&__content {
					padding-bottom: rem(84);
				}

				&__btn {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
